<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    
    <!--   Bootsrap 5   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-nav">
        <a class="navbar-brand nav-link" href="{{url_for('index')}}">Homepage</a>
        <a class="nav-link" href="{{url_for('add_pup')}}">Add a Puppy</a>
        <a class="nav-link" href="{{url_for('del_pup')}}">Delete a Puppy</a>
        <a class="nav-link" href="{{url_for('list_pups')}}">List of Puppies</a>
        <a class="nav-link" href="{{url_for('add_owner')}}">Add Owner</a>
      </div>
    </nav>

    <div style="padding:20px 50px">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
